*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #00aaff, #00ff6c);
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 5rem);
  justify-content: center;
  height: 100vh;
  align-content: center;
}

.calculator-grid > button {
  font-size: 1.2rem;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.calculator-grid > button:hover {
  background-color: rgb(255, 255, 255);
}

.output {
  grid-column: 1 /-1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 1rem;
  word-wrap: break-word;
}
.output .previousOperand {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
}
.output .currentOperand {
  font-size: 2.5rem;
  color: rgba(255, 255, 255);
}
.span-two {
  grid-column: span 2;
}
